name = "fluxaipor1"
main = "src/index.js"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[vars]
PROJECT_NAME = "Flux-AI-Pro"
PROJECT_VERSION = "9.6.1"

[[r2_buckets]]
binding = "IMAGES_BUCKET"
bucket_name = "flux-ai-images"

[[kv_namespaces]]
binding = "IMAGE_METADATA"
id = "b6ace939ffbc4bcbbde6ddf02a67a4d7"

[ai]
binding = "AI"
